<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </settings>
  </paypal>
  
  <appSettings>
    <add key="Environment" value="production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="PDTToken" value="ow1DxjNZL6mf5ppNLJIxgZtrOtxKiK7fj-0viKM0Y32pRyoCHTt6NB2ejp8" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MerchantID" value="UG9TN8YRMAAPJ" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
