<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="live" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="clientId" value="ARTEQqvMMQ9GWtWJHMM5sdWSwq-lr2xKxcx2EA0Nxui9BnsK35Y2Q3077UZym2f15cA-7GCYgmtZ6eS7" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="clientSecret" value="EGV-phFA8tzOyBYaReL6oHi4Rq3Qg9nrU-bo9Cd5mFkirf_5wrZ8tnLcTDq-KfsoKGlAU8XELICb2z6n" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>      
    </settings>
  </paypal>
  
  <appSettings>
    <add key="Environment" value="production"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PDTToken" value="bf_MSR3Hr5t4eC18R9lHun4DWbPfWNSQ3d0Rz6RHTY0RB2mM1sSktfbRtgK" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MerchantID" value="ZCGLZJCJ3HGB4" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPalSubmitUrl" value="https://www.paypal.com/cgi-bin/webscr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
