@model GowWebSite.Models.City

@{
    ViewBag.Title = "Create";
}

<h2>Create City</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_ViewCity")


    <div>
        <div class="text-info">Any costs will be reflected in your cart.  You can add multiple cities and check out once.</div>
        <input id="CitySave" type="submit" value="Add City" class="btn btn-primary" />

        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({ container: 'body', html: true });
    });
</script>