@model Dictionary<int,string>
@{
    ViewBag.Title = "City List";
}


<div class="col-md-12">
    @using (Html.BeginForm("UploadCity", "City", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                <input type="file" name="FileUpload1" />
            </div>
            <div class="col-md-12">
                <p><input type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-primary" /></p>
            </div>
        </div>

    }
</div>

<!-- Show error here -->