
@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>GoW Minion FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-7"><h1>GoW Minion Deals</h1></div>
                <div class="col-md-3 col-sm-4 col-xs-5" style="vertical-align:bottom">Contact: <a href="mailto:support@gowminion.com">support@gowminion.com</a></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="row col-md-12 col-sm-12 col-xs-12">The Package gives you all the features you know and love at a discounted price. Each city will Bank and shield or rally and much more.</div>
                <div class="form-group"></div>
                <div class="row col-md-12 col-sm-12 col-xs-12">With our Multi-City discounts the more you have the more you save. You can buy packages of 10 (-5%), 25 (-10%) or 50 (-15%) cities. This allows you to add cities as you would like without having to revisit the checkout every time, all while saving money.</div>
            </div>            
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>Cities</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3>Package</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>5</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3>@Html.ActionLink("Add To Cart (20.00)", "Basic5", null, new { @class = "btn btn-primary" })</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>10</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3>@Html.ActionLink("Add To Cart (38.00)", "Basic10", null, new { @class = "btn btn-primary" })</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>25</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3>@Html.ActionLink("Add To Cart (90.00)", "Basic25", null, new { @class = "btn btn-primary" })</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>50</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3>@Html.ActionLink("Add To Cart (170.00)", "Basic50", null, new { @class = "btn btn-primary" })</h3></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-2"><h3>50+</h3></div>
                    <div class="col-md-10 col-sm-10 col-xs-10"><h3><a href="mailto:support@gowminion.com">Contact Us</a></h3></div>
                </div>
            </div>

        </div>
    </div>
</body>