
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>GoW Minion FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>GoW Minion FAQ</h1>
        </div>
        <!-- Bootstrap FAQ - START -->
        <div class="container">
            <br />
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                This section contains information, related to <strong>GoW Minion</strong> and its functionality. If you cannot find an answer to your question,
                make sure to contact us.
            </div>


            <div class="panel-group" id="accordion">
                <!--Bank Section-->
                <div class="faqHeader">Banking</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMarketLocation">Marketplace Location</a>
                        </h4>
                    </div>
                    <div id="collapseMarketLocation" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">For the marketplace to function correctly the marketplace must be located in the city spot below the treasury. </div>
                            <div class="row"><img src="~/Content/Images/MarketLocation.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCityOrder">City Order</a>
                        </h4>
                    </div>
                    <div id="collapseCityOrder" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">In order for the service to correctly bank resources your bank has to be at the top of the alliance list alphabetically. If you set the RSSBankNum to 1 it will send rss to Cloudbirth in the picture below. RssBankNum to 2 it will send rss to cobratil es. etc </div>
                            <div class="row"><img src="~/Content/Images/MarketOrder.jpg" /></div>
                        </div>
                    </div>
                </div>
                   
                <!-- Rally Section-->             
                <div class="faqHeader">Rallying</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRallyInfo">General Info</a>
                        </h4>
                    </div>
                    <div id="collapseRallyInfo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">In order for rallying to work properly there has to be a city that is either SH 15 or higher or in an different alliance. If the city doing the rallying is an R4 then the target city must be in an alliance or the rally will not work. If the target city moves or is shielded then the rally will not work. The service will not rally if you have an active peace shield. You need to have a hall of war in order to rally.</div>
                        </div>
                    </div>
                </div>

                <!-- Upgrade Section-->
                <div class="faqHeader">Upgrading</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUpgradeInfo">General Info</a>
                        </h4>
                    </div>
                    <div id="collapseUpgradeInfo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Upgrading will build a city up to SH14 and then build all other buildings up to 14 as well.</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOutsideCity">Outside the city</a>
                        </h4>
                    </div>
                    <div id="collapseOutsideCity" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">In order to minimize the amount of resources that need to be sent to a city you will want to have 2 of each type outside of the specialized type. Putting these farms in the lower left outside the wall will make the service the most efficient.</div>
                            <div class="row"><img src="~/Content/Images/FarmLocations.jpg" /></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseInsideCity">Inside the city</a>
                        </h4>
                    </div>
                    <div id="collapseInsideCity" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row"></div>In order to build up to SH14 as quickly as possible keep all the required buildings in the left side of the city.
                            <div class="row"></div><img src="~/Content/Images/InsideLocations.jpg" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGoldmine">Goldmine</a>
                        </h4>
                    </div>
                    <div id="collapseGoldmine" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">If your city has a gold mine please put it in the upper right most corner so the the upgrading will work. </div>
                            <div class="row"><img src="~/Content/Images/GoldMineLocation.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .faqHeader {
                font-size: 20px;
                margin: 20px;
            }
        </style>
        <!-- Bootstrap FAQ - END -->
    </div>
</body>