
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <title>GoW Minion FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>GoW Minion FAQ</h1>
        </div>
        <!-- Bootstrap FAQ - START -->
        <div class="container">
            <br />
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                This section contains information, related to <strong>GoW Minion</strong> and its functionality. If you cannot find an answer to your question,
                make sure to contact us.
            </div>


            <div class="panel-group" id="accordion">
                <!--Bank Section-->
                <div class="faqHeader">Banking</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBankInfo">General Info</a>
                        </h4>
                    </div>
                    <div id="collapseBankInfo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">The number of marches selected between the silver and rss marches should not exceed the maximum allowed by your city. Remember that if Rally is turned on that also uses a march slot. If you are SH 14 you can have 3 total marches.</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseMarketLocation">Marketplace Location</a>
                        </h4>
                    </div>
                    <div id="collapseMarketLocation" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Our minions get lost when wandering too far to the market. For them to be able to trade rss the marketplace must be located in the city spot below the treasury. </div>
                            <div class="row"><img src="~/Content/Images/MarketLocation.jpg" class="col-xs-11 col-md-11" /></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseCityOrder">City Order</a>
                        </h4>
                    </div>
                    <div id="collapseCityOrder" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Our minions don't like to click and drag, in order for them to correctly bank resources your bank has to be at the top of the alliance list alphabetically. If you set the RSSBankNum to 1 it will send rss to Cloudbirth in the picture below. RssBankNum to 2 it will send rss to cobratil es. etc </div>
                            <div class="row"><img src="~/Content/Images/MarketOrder.jpg" class="col-xs-11 col-md-11" /></div>
                        </div>
                    </div>
                </div>
                   
                <!-- Rally Section-->             
                <div class="faqHeader">Rallying</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseRallyInfo">General Info</a>
                        </h4>
                    </div>
                    <div id="collapseRallyInfo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Rallying is can be complex and our minions are a bit slow. In order for them to properly rally the have to target a city that is either in a different alliance, or SH 15+ in no alliance. If the minion is starting a rally from an R4 then the target city must be in an alliance or the rally will not work. If the target city moves or is shielded then the rally will not work. The minions will not rally if you have an active peace shield or do not have a hall of war.</div>
                        </div>
                    </div>
                </div>

                <!-- Upgrade Section-->
                <div class="faqHeader">Upgrading</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseUpgradeInfo">General Info</a>
                        </h4>
                    </div>
                    <div id="collapseUpgradeInfo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Upgrading will have the minions build a city up to SH14 and then build all other buildings up to 14 as well. In order for the minions to build past 14 you must manually start the SH 15 upgrade.</div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOutsideCity">Outside the city</a>
                        </h4>
                    </div>
                    <div id="collapseOutsideCity" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Without resources our minions can't keep building. In order to keep the minions well supplied you should have 2 of each type outside of the specialized type, and keep them close to the walls for the safety of the minions.</div>
                            <div class="row"><img src="~/Content/Images/FarmLocations.jpg" class="col-xs-11 col-md-11" /></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseInsideCity">Inside the city</a>
                        </h4>
                    </div>
                    <div id="collapseInsideCity" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row"></div> Our minions are a little lazy and don't like long walks, so if you want to upgrade to SH14 as quickly as possible keep all the required buildings to the left side of the city.
                            <div class="row"></div><img src="~/Content/Images/InsideLocations.jpg" class="col-xs-11 col-md-11" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGoldmine">Goldmine</a>
                        </h4>
                    </div>
                    <div id="collapseGoldmine" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">Our minions have a fear of gold mines, ever since one of our cousins got lost in one. If your city has a gold mine please put it in the upper right most corner. This will allow the minions to upgrade your buildings without fear of falling in. </div>
                            <div class="row"><img src="~/Content/Images/GoldMineLocation.jpg" class="col-xs-11 col-md-11" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .faqHeader {
                font-size: 20px;
                margin: 20px;
            }
        </style>
        <!-- Bootstrap FAQ - END -->
    </div>
</body>