@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- title and meta -->
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="description" name="Game of war farm manager">

    <title>GoW Minions</title>

    <!-- css -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab">
    <link rel="stylesheet" href="../../Content/base.css" />
    <link rel="stylesheet" href="../../Content/style.css" />
    <link rel="stylesheet" href="../../Content/bootstrap.css" />

    <!-- js -->
    <script src="Scripts/modernizr.js"></script>
</head>
<div class="wrapper">

    <div class="info-bar">
        <div class="container">

        </div>
    </div>

    <main style="background-color:#E4F0EE;">

        <section class="module parallax parallax-1">
            <div class="container">
                <h1>Have More Fun</h1>
                <marquee behavior="scroll" direction="up" scrollamount="4" style="font-size:32px; color:white; height:225px">
                    A whole new dimension to GOW! Simply WOW!<br /><br />
                    Huge competitive advantage <br /><br />
                    It saved my marraige<br /><br />
                    It allowed me to pay attention to my family<br /><br />
                    Watching the marches go to my bank is awesome<br /><br />
                </marquee>
            </div>
        </section>

        <section class="module content">
            <div class="container">
                <h2>Play don't Grind</h2>
                <p>Does logging into farms to bank rss and protect heros have you down? Do you spend more time in your farm alliance managing accounts than in your main playing?</p>
            </div>
        </section>

        <section class="module parallax parallax-2">
            <div class="container">
                <h1>Grow Faster</h1>
            </div>
        </section>

        <section class="module content">
            <div class="container">
                <h2>Protect Resources</h2>
                <p>Want to protect all your farms resources? Make those farms produce more resources? Why login every few hours?</p>
            </div>
        </section>

        <section class="module parallax parallax-3">
            <div class="container">
                <h1>Time Saver</h1>
            </div>
        </section>

        <section class="module content">
            <div class="container">
                <h2>Basic Features</h2>
                <div class="col-md-1"></div>
                <div class="col col-md-10">
                    <ul>
                        <li>Collect daily and alliance quests so you get all the materials.</li>
                        <li>Collect Athena's gift so you never miss free chests, gold and speedups.</li>
                        <li>Collect Alliance gifts so they never expire while you are busy in RL.</li>
                        <li>Click helps to help alliance members grow. Great for farm alliances.</li>
                        <li>Send your farms resources to your bank so you don't have to.</li>
                        <li>Rally so that hero keeps his bonuses in house.</li>
                        <li>Shield to protect both your resources and your hero completely.</li>
                        <li>(New Feature) Bulk upload cities from a spreadsheet.</li>
                        <li>(New Feature) Multi-city discounts.</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="module parallax parallax-4">
            <div class="container">
                <h1>Stay Safe</h1>
            </div>
        </section>

        <section class="module content">
            <div class="container">
                <h2>Premium Features</h2>
                <div class="col-md-1"></div>
                <div class="col col-md-10">
                    <ul>
                        <li>Build the city so that your resource production grows.</li>
                        <li>Collect your treasury and start the next investment.</li>
                    </ul>
                </div>
            </div>
        </section>
    </main><!-- /main -->


</div>