@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Choose One:</h2>
        <ul>
            <li>@Html.ActionLink("Cities", "Index", "City")</li>
            @if (User.IsInRole("Admin") || User.IsInRole("MachineOwner"))
            {
                <li>@Html.ActionLink("Logs", "Index", "Log")</li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Alliances", "Index", "Alliance")</li>
                <li>@Html.ActionLink("Logins", "Index", "Login")</li>
            }
        </ul>
    </div>
</div>