@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Choose One:</h2>
        <ul>
            <li>@Html.ActionLink("Alliances", "Index", "Alliance")</li>
            <li>@Html.ActionLink("Cities", "Index", "City")</li>
            <li>@Html.ActionLink("Logs", "Index", "Log")</li>
        </ul>
    </div>
</div>